<div class="row">
  <div class="container">

    <a href="https://argentinaprograma.inti.gob.ar/"
        target="_blank"
        rel="noreferrer noopener">
        <img src="../../../assets/APLogo.png" id="logoAP"/>
      </a>

    <div class="redes">
      <a
        href="https://www.facebook.com/"
        target="_blank"
        rel="noreferrer noopener"
        ><img src="../../../assets/faceboock.png" alt="facebook" />
      </a>

      <a
        href="https://www.linkedin.com/"
        target="_blank"
        rel="noreferrer noopener"
        ><img src="../../../assets/linkedin.png" alt="linkedin"
      /></a>

      <a href="https://twitter.com/" target="_blank" rel="noreferrer noopener"
        ><img src="../../../assets/twitter.png" alt="twitter"
      /></a>

      <a
        href="https://www.instagram.com/"
        target="_blank"
        rel="noreferrer noopener"
        ><img src="../../../assets/instagram.png" alt="instagram"
      /></a>

      <a
        href="https://github.com/admazzaglia?tab=repositories"
        target="_blank"
        rel="noreferrer noopener"
        ><img src="../../../assets/github.png" alt="github"
      /></a>

      <button
        type="button"
        class="btn btn-outline-light"
        (click)="login()"
        *ngIf="!isLogged"
      >
        Ingreso
      </button>
      <button
        type="button"
        class="btn btn-outline-light"
        (click)="onLogOut()"
        *ngIf="isLogged"
      >
        Cerrar
      </button>
    </div>
  </div>
</div>
